        #noty-holder{
            width: 100%;
            top: 0;
            font-weight: bold;
            z-index: 1031; /* Max Z-Index in Fixed Nav Menu is 1030*/
            text-align: center;
            position: fixed;
        }
        .alert{
            margin-bottom: 2px;
            border-radius: 0px;
        }
        #main{
            min-height:900px;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
        .stats {
                    text-align:center;
                    text-shadow:1px 1px 0px #fff;
                    margin-top:25px;

                }
        .stats li{
            width:125px;
        }
        .stats span{
            font-family:Helvetica;
            font-weight:bold;
            text-shadow:1px 1px 0px #fff;
            font-size:4em;

            display:block;
            line-height:1em;
        }

        /* Large desktop */
        @media (min-width: 1200px) {
        }

        /* Portrait tablet to landscape and desktop */
        @media (min-width: 768px) and (max-width: 979px) {
        }

        /* Landscape phone to portrait tablet */
        @media (max-width: 767px) {
            .profile img{
                width:75px;
            }
            .profile h2{
                font-size:1.7em;
            }
            .stats span{
                font-size: 2em;
            }
            .span2{
                border-radius: 50px;
            }

        }
    .button{
        background:transparent;
        color: #002287;
        border:1px solid #002287;
        border-radius: 4px;
        height: 30px;
        margin-top: 2px;
        cursor: pointer;
    }
    .button:hover{
        background-color: #002287;
        color: #fff;
        border:1px solid #002287;
        border-radius: 4px;
    }
    .buttonsin{
        background:transparent;
        color: #002287;
        border:1px solid #002287;
        border-radius: 4px;
        height: 30px;
        margin-top: 2px;
        cursor: pointer;
    }

    .botonItemMenu {
        width: 50%;
        margin-top: 15px;
        margin-left: 25%;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 10%;
    }
    .elemento-eti{
            font-size: 130px;
        }
        .txt-re{
            border-radius: 8px;
            width: 110px;
        }
        .txt-re-col{
            border-radius: 8px;
            width: 110px;
        }
        .txt-icon{
            font-size: 14px;
            display: block;
        }
        .head-icon{
            font-size: 30px;
            text-align: center;
        }
        .td-center{
            text-align: center;
        }
        .select-na{
            margin-top: 25px;
        }
        .btn-save{
            background-color: #E97A70;
            color: white;
            margin-left: 20px;
        }
        .btn-cancelar{
            background-color: gray;
            color: white;
            margin-left: 20px;
        }
            .conten-img-title{
            font-size: 18px;
            color: #4a9477;
            padding-top: 20px;
        }
        .label-fechas{
            font-size: 16px;
            color: #6f6f6e;
        }
        .form-fecha{
            border-radius: 5px;
            border:#33337f solid 1px;
            width: 80px;
            margin-top: 5px;
        }
        .form-search{
            border-radius: 5px;
            border:#33337f solid 1px;
            width: 160px;
            margin-top: 5px;
        }

        .form-search2{
            border-radius: 5px;
            border:#33337f solid 1px;
            width: 90%;
            margin-top: 5px;
            padding: 5px;
        }
        #dias{
            display: inline-block;
            padding: 16px;
            text-align: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #c9dde0;
            vertical-align: middle;
            margin-top: 10px;
        }
        .label-dia{
            margin-top: 10%;
            display: inline-block;
        }
        .element-viatico{
            font-size: 45px;
            cursor: pointer;
        }
        .elemento{
            font-size: 95px;
            cursor: pointer;
        }
        .element-div{
            padding-left: 5px;
            padding-top: 10px;
        }
        .element-div-left{
            padding-left: 20px;
            padding-top: 10px;
        }
        .element-list{
            font-size: 33px;
        }
        .in-line{
            display: inline-block;
        }
        .element-div{
            padding: 10px;
            cursor: pointer;
        }

        #tabla-debito {

            background:#e8e9e8;
            padding: 10px;
            color:#4A9477;
            font-size:15px;
            text-align: center;
        }

        #tabla-cheques {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background:#e8e9e8;
            padding: 10px;
            color:#4A9477;
            font-size:15px;
            text-align: center;
        }

        #tabla-credito {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background:#e8e9e8;
            padding: 10px;
            color:#4A9477;
            font-size:15px;
            text-align: center;
        }

        #tabla-efectivo {

            padding: 10px;
            color:#4A9477;
            font-size:15px;
            text-align: center;
        }

        #tabla-amex {

            padding: 10px;
            color:#4A9477;
            font-size:15px;
            text-align: center;
        }

        #nacional {
            background: #bfdadd;
            border-radius: 10px;
            padding-top: 25px;
            padding-bottom: 25px;
            padding-right: 5px;
            padding-left: 5px;
            text-align: center;
            margin-right: 3px;
        }

        #extranjero {
            background: #bfdadd;
            border-radius: 10px;
            padding-top: 25px;
            padding-bottom: 25px;
            padding-right: 5px;
            padding-left: 5px;
            text-align: center;
            margin-right: 3px;
        }
         #total{
            display: inline-block;
            padding-top: 25px;
            padding-bottom: 10px;
            text-align: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #008e7e;
            color: white;
            font-size: 30px;
            vertical-align: middle;

        }

        #autorizacion{
            display: inline-block;
            padding-top: 25px;
            padding-bottom: 10px;
            text-align: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #008e7e;
            color: white;
            font-size: 30px;
            vertical-align: middle;

        }

        .texto{
            font-size: 16px;
            color: #706f6f;
            text-align: center;
        }

        .center{
        text-align: center;
        }

        .enviar-btn{
        background-color: #e97a6f;
        border-radius: 10px;
        color:#ffffff;
        border:none;
        font-size: 12px;
        vertical-align: middle;
        padding: 8px;
        margin-top: 40px;
        margin-left: 20px;
        text-align: center;

        }

        .icon-tam2 {
            font-size: 40px;
            padding-left: 10px;
            text-align: center;
            vertical-align: middle;

        }

        .titulo-pantalla{
             text-align: center;
            color: #009577;
            font-size: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
}

        .numero-dias{
            font-size: 30px;
            color:#303082;
        }

        .dias-txt{
            color:#303082;
            font-size: 17px;
        }

        th, td{
            color:#303082;
            font-size: 15px;
            vertical-align: middle;

        }

        hr {
            border:#008e7e 1px solid;
        }
        h2{
            font-size: 18px;
            color: white;
        }

        .loader {
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid blue;
          border-bottom: 16px solid blue;
          width: 120px;
          height: 120px;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }        
